In [ ]:
#Data Structures
#Theoretical Questions

In [ ]:
"""
1.What are data structures, and why are they important?
 >> Data structures are ways to store and organize data. They help make our code easier and faster.

2. Explain the difference between mutable and immutable data types with examples.
 >> Mutable means we can change the data (like a list). Immutable means we can’t change it (like a tuple).

3. What are the main differences between lists and tuples in Python?
 >> Lists can be changed, but tuples can't. Lists use [] and tuples use ().

4. Describe how dictionaries store data.
 >> Dictionaries store data using key and value pairs. Like a name and its meaning.

5. Why might you use a set instead of a list in Python?
 >> Sets don’t allow duplicates and are faster for checking if something exists

6. What is a string in Python, and how is it different from a list?
 >> A string is text, like "hii". A list can have anything, like numbers or strings. You can’t change a string but you can change a list.

7. How do tuples ensure data integrity in Python?
 >> Tuples can’t be changed, so the data stays safe

8. What is a hash table, and how does it relate to dictionaries in Python?
 >> A hash table helps store and find data quickly. Dictionaries use hash tables inside

9. Can lists contain different data types in Python?
 >> Yes, lists can have numbers, text, or anything mixed together.

10. Explain why strings are immutable in Python.
 >> Python keeps strings safe from changes. So once made, they can’t be changed.

11. What advantages do dictionaries offer over lists for certain tasks?
 >> Dictionaries are better when we want to look things up by name or key.

12. Describe a scenario where using a tuple would be preferable over a list.
 >> If you don’t want the data to change, like a person’s birth date, use a tuple.

13. How do sets handle duplicate values in Python?
 >> Sets don’t allow duplicates. If you add the same thing again, it won’t be added

14. How does the “in” keyword work differently for lists and dictionaries?
 >> In a list, it checks if a value exists. In a dictionary, it checks if a key exists.

15. Can you modify the elements of a tuple? Explain why or why not.
 >> No, because tuples are immutable. Once made, we can’t change them

16. What is a nested dictionary, and give an example of its use case?
 >> A nested dictionary means a dictionary inside another. It’s good for storing complex info like student records.

17. Describe the time complexity of accessing elements in a dictionary.
 >> It’s fast — usually takes almost no time.

18. In what situations are lists preferred over dictionaries?
 >> When we care about the order of items or don’t need keys

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 >> They don’t keep things in the order we add them (at least in older Python). its pretty un-retrievable

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 >> In lists, we use index numbers to get items. In dictionaries, we use keys.
"""

In [ ]:
#Practical Questions

In [1]:
#1. Write a code to create a string with your name and print it
Name = "Sahil"
print(Name)

Sahil

In [2]:
#2. Write a code to find the length of the string "Hello World"
t = "Hello World"
print(len(t))

11

In [1]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[0:3])

Pyt

In [5]:
#4. Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s.upper())

HELLO

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
s = [1,2,3,4,5]
print(s)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
s= [1, 2, 3, 4]
s.append(10)
print(s)

[1, 2, 3, 4, 10]

In [10]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
s= [1, 2, 3, 4, 5]
s.remove(3)
print(s)

[1, 2, 4, 5]

In [13]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
s=['a', 'b', 'c', 'd']
print(s[1])

b

In [20]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
s = [10, 20, 30, 40, 50]
s.reverse()
print(s)

[50, 40, 30, 20, 10]

In [21]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print
s = (100, 200, 300)
print(s)

(100, 200, 300)

In [25]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
s = ('red', 'green', 'blue', 'yellow')
print(s[-2])

blue

In [27]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
s = (10, 20, 5, 15)
print(min(s))

5

In [28]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
s = ('dog', 'cat', 'rabbit')
print(s.index('cat'))

1

In [29]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
s = ('mango', 'apple', 'kiwi')
print('kiwi' in s)

True

In [30]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [31]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.clear()
print(s)

set()

In [32]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [33]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [34]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [35]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
s = {"name": "Sahil", "age": 18, "city": "Delhi"}
print(s)

{'name': 'Sahil', 'age': 18, 'city': 'Delhi'}

In [36]:
#22. Write a code to add a new key–value pair "country": "USA" to the dictionary {"name": "John", "age": 25}.
s = {"name": "John", "age": 25}
s["country"] = "USA"
print(s)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#23. Write a code to access the value associated with the key "name" in the dictionary {"name": "Alice", "age": 30}.
s = {"name": "Alice", "age": 30}
print(s["name"])

Alice

In [38]:
#24. Write a code to remove the key "age" from the dictionary {"name": "Bob", "age": 22, "city": "New York"}.
s = {"name": "Bob", "age": 22, "city": "New York"}
s.pop("age")
print(s)

{'name': 'Bob', 'city': 'New York'}

In [39]:
#25. Write a code to check if the key "city" exists in the dictionary {"name": "Alice", "city": "Paris"}.
s = {"name": "Alice", "city": "Paris"}
print("city" in s)

True

In [40]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
s = [1,2,3]
t = (1,2,3)
u = {"name": "Sahil", "age": 18, "city": "Delhi"}
print(s)
print(t)
print(u)

[1, 2, 3]
(1, 2, 3)
{'name': 'Sahil', 'age': 18, 'city': 'Delhi'}

In [42]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
numbers = []
for i in range(5):
    num = int(input("Enter a number between 1 and 100: "))
    numbers.append(num)

numbers.sort()
print(numbers)

Enter a number between 1 and 100: 49
Enter a number between 1 and 100: 57
Enter a number between 1 and 100: 37
Enter a number between 1 and 100: 10
Enter a number between 1 and 100: 56
[10, 37, 49, 56, 57]

In [43]:
#28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date"]
print(words[2])

cherry

In [44]:
#29. Write a code to combine two dictionaries into one and print the result.
a = {"x": 1, "y": 2}
b = {"z": 3}
a.update(b)
print(a)

{'x': 1, 'y': 2, 'z': 3}

In [45]:
#30. Write a code to convert a list of strings into a set.
words = ["apple", "banana", "apple"]
unique_words = set(words)
print(unique_words)

{'apple', 'banana'}